snippet msg "Git commit message" b
[$1/$2][#$3] $4
endsnippet

snippet bf "brandenfaulls"
@brandenfaulls
endsnippet

snippet jr "joeray"
@joeray
endsnippet

snippet aw "adrianwong"
@adrianwong
endsnippet

snippet sw "simonwilson"
@simonwilson
endsnippet

snippet ks "kornelissietsma"
@kornelissietsma
endsnippet

