snippet readme "Readme template" b
##${1:Project Title}

This project is from the week $2 week$3 challenge of the Makers Academy course. $4

##Challenges



##Technologies used



##How to install


endsnippet
